<div id = "banner">
    <div id = "banner-icon">< <i class = "banner-flex-item 
    fa fa-camera-retro" aria-hidden="true"></i></div>
    <span id ="banner-text"
    class ="banner-flex-item">Instructor's Photo App</span>
</div>