<nav id = "brand" class = "nav-items">
    <div id = "brand" class= "nav-items">
        <a href = "/" id = "brand-anchor">
            <span id="brand-text">
                <i style = "margine-right: .2rem;">i</i>PA
            </span></a>
    </div>
    <input id="search-text" name="search-text" type="text">
    <div id ="text-bar-icon">
        <i id="sicon" class="fas fa search nav-items"></i>
    </div>
    <a href = "/postimage" id="post-button" class="nav-items anchor-buttons">
        Post</a>
    <a href = "/login" id="authenticate-button" class="nav-items anchor-buttons">
        Log in</a>
</nav>