<nav>
    {{!-- <input id "nav-toggle" type="checkbox"> --}}
    <div id = "banner">
        {{!-- </div>img src="https://www.freepnglogos.com/uploads/camera-logo-png/camera-outline-icon-27.png" alt="logo" class="logo"> --}}
        {{!-- <span class ="banner-text">Instructor's Photo App</span> --}}
    </div>

    <ul class = "home-link">
        <li> <a href="/" id="home">Home</a> </li>
    </ul>
    <div class = "search-bar"> 
        <input id="search-text" name ="search-text" type="text">
        <i id="search-button" class="fa fa-search" aria-hidden="true"></i>
    </div>
    
    <ul class = "links">

        {{!-- <li> <a href="/viewpost" id="viewpost-button" class="nav-items anchor-buttons">View Post</a> </li> --}}

        <li> <a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post Image</a> </li>

        <li> <a href="/register" id="register-button" class="nav-items anchor-buttons">Registration</a> </li>

        {{#if logged}}
        <li> <a id="logout-button" class="nav-items anchor-buttons">Log Out</a> </li>
        
        {{else}}
        <li> <a href="/login" id="login-button" class="nav-items anchor-buttons">Log In</a> </li>
        {{/if}}


    </ul>

    {{!-- <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label> --}}
</nav>
{{!-- <div class="img-container">
    <img src="https://wallpaperboat.com/wp-content/uploads/2020/06/03/42361/aesthetic-anime-01.jpg" alt="">
    <img src="https://i.pinimg.com/originals/c3/76/47/c37647d3cd724c0dc86a7db7627eaba5.jpg" alt="">
</div> --}}