<div class="grid-container shadow">
    <header class="site-header"> Login Form</header>

    <div class="site-content">
        <form>
            <label for="uname">Username</label>
            <input type="text" name="uname" />
            <br>

            <label for="pass">Password</label>
            <input type="password" name="pass" />
            <br>

            <input type="submit" value="Submit">
        </form>
        <div id="make-account">Do not have an account?
            <a href="/register">Register Here!</a>
        </div>
    </div>
</div>

<div class= "empty-space"></div>