<div class="grid-container shadow">
    <header class="site-header"> Post Image</header>

    <div class="site-content">
        <form>
            <label for="title">Title</label>
            <input type="text" name="title" />
            <br>

            <label for="desc">Description</label>
            <input type="text" name="email" />
            <br>

            <label for="img">Image</label>
            <input type="file" name="img" />
            <br>

            <label for="AUP">
                <a href="default.asp" target="_blank">Acceptable Use Policy</a>
            </label>

            <input type="checkbox" name="AUP" />
            <br>

            <input type="submit" value="Submit">
        </form>

    </div>
</div>