<div class="form-container shadow">
    <header class="site-header"> Registration Form</header>

    <div class="site-content">
        <form id="myForm" method="POST" action= "/users/register" enctype="application/x-www-form-urlencoded">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
            <br>

            <label for="email">Email</label>
            <input type="email" name="email" required />
            <br>

            <label for="pass">Password </label>
            <input type="password" id="pass" name="password" required />
            <br>

            <label for="cpass">Confirm Password</label>
            <input type="password" id="cpass" name="cPassword" required />
            <br>

            <label for="13">
                <input type="checkbox" required />
                I am 13+
            </label>
            <br>

            <label for="tos">
                <input type="checkbox"  />
                <a href="default.asp" target="_blank">Terms of Services </a>
    
            </label>

            <input type="submit" value="Submit"/>

        </form>

    </div>
</div>