<div class="grid-container shadow">
    <header class="site-header"> Registration Form</header>

    <div class="error">
        <h5 id="error"></h5>
    </div>

    <div class="site-content">
        <form id="myForm" onsubmit="event.preventDefault(); myValidate();">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
            <br>

            <label for="email">Email</label>
            <input type="email" name="email" required />
            <br>

            <label for="pass">Password </label>
            <input type="text" id="pass" name="pass" required />
            <br>

            <label for="cpass">Confirm Password</label>
            <input type="text" id="cpass" name="cpass" required />
            <br>

            <label for="13">I am 13+</label>
            <input type="checkbox" name="13" required />
            <br>

            <label for="tos">
                <a href="default.asp" target="_blank">Terms of Services </a>
            </label>

            <input type="checkbox" name="tos" required />
            <br>

            <input type="submit" value="Submit">

        </form>

    </div>
</div>