<div class="form-container shadow">
    <header class="site-header"> Unknown</header>

    <div class="site-content">
        <form>
            <p>Author: Unknown</p>

            <p>Date: 10/6/2021 </p>

            <img src="https://cdn2.bulbagarden.net/upload/thumb/7/77/201Unown.png/250px-201Unown.png" alt="Placeholder">
            
            <p> Here lies an ancient creature with the power to manipulate the stars. </p>
        </form>
    </div>
</div>