body {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 0;
    background-image: url("https://wallpaperboat.com/wp-content/uploads/2020/06/03/42361/aesthetic-anime-01.jpg");
    background-repeat: no-repeat;
    background-position: auto;
    background-size: auto;
    position: fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#container {
    display:grid;
    grid-template-rows: auto;  
    grid-auto-columns: 100vw;
    grid-template-areas:
    "nav"
    "main"
    "space"
    "footer";
}

#flash-message {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
}

#flash-message div {
    text-align: center;
}
#flash-message div.alert-danger {
    color: red;
}
#flash-message div.alert-success {
    color: darkgreen;
}

nav{
    grid-area: nav;
    position: relative;
    z-index: 10;
    left:0;
    right:0;
    font-family: "Montserrat", sans-serif;
    height: 80px;
    background-color: cornflowerblue;
}

nav #banner .logo {    
    float: left;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: auto;
    color: white;
}
nav .home-link {
    float:left;
    padding: 0;
    margin: auto;
    width: 10%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
nav .home-link a{
    display:block;
    font-size: 25px;
    color:black;
    text-decoration: none;
    font-weight: bold;
}
nav .search-bar{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

nav .search-bar input {
    width:100%;
    font-size: 25px;
    color:black;
    border-radius: 5px;
}
nav .links {
    float:right;
    padding: 0;
    margin: 0;
    width: 40%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display:block;
    padding: 10px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

/* #nav-toggle {
    position:absolute;
    opacity: 0;
}
nav .icon-burger {
    position: absolute;
    right:5%;
    top:50%;
    transform:translate(-50%);
}

nav .icon-burger .line{
    width:30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
}
@media screen and (max-width:768px){
    nav .links{
        display: none;
        float: none;
        width: auto;
        z-index: 9;
        left:0;
        top:100px;
        bottom: 0;
        width:auto;
        flex-direction: column;
        height: auto;
        background-color: rgba(0,0,0,.8);
        overflow:hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a {
        font-size: 20px;
    }

    nav :checked ~ .links {
        bottom:0;
    }
    
    nav .icon-burger{
        display:block;
    }

    nav .icon-burger .line {
        width:30px;
        height: 5px;
        background-color: white;
        margin: 5px;
        border-radius: 3px;
    } 

    nav :checked ~ .icon-burger .line {
        transform:translateY(10px);
    }

} */

footer {
    background: transparent;
    color:black;
    position: absolute;
    bottom: 5%;
    font-size: auto;
    font-weight: bold;
    padding-left:5%;
}
