* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    /* background-image: url(https://media1.thehungryjpeg.com/thumbs2/ori_3473804_0d00df7301c2e8c755bc3b3cabb922a2145f8c1c_water-with-bubbles-on-horizontal-seamless-blue-background.jpg); */
}

.shadow {
    border:1px solid #cccccc;
    box-shadow: 0 10px 10px lightblue;

}

.site-header {
    font-size: 30px;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
    color:goldenrod;
}

.grid-container {
    display:grid;

    min-width: 300px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22%;
    margin-bottom: 22%;
    border-radius: 20px;
}

.error {
    padding-left:5%;
    padding-right:5%;
    margin-bottom: auto;
    text-align: center;
    color:red
}

.site-content{
    padding-left:10%;
    padding-right:10%;
    margin-bottom: 20px;
    text-align: left;
    justify-content: left;
}

label {
    float: left;
    font-weight: bold;
    color:goldenrod;
}

input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
}

input[type=submit] {
    width: auto;
    font-weight: bold;
}
input[type=checkbox] {
    width: auto;
}

a:link, a:visited {
    color: blue;
    padding: auto;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}