* {
    box-sizing: border-box;
}

.shadow {
    border:1px solid #cccccc;
    box-shadow: 0 10px 10px lightblue;
}

.form-container {
    grid-area: main;
    margin: 0px auto auto auto;
    background-color:rgba(107,185,240,0.6);
    min-width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 10%;
    border-radius: 20px;
    align-self: center;
}
.site-header {
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color:black;
}
.site-content{
    padding-left:10%;
    padding-right:10%;
    margin-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.site-content form label {
    float: left;
    font-weight: bold;
    color:black;
    display: block;
    padding-top: 5px;
    padding-bottom:10px;
    width: 100%;
}

#make-account{
    padding-top: 10%;
}

.site-content form input {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.site-content form input[type=submit] {
    width: auto;
    margin:auto;
}
.site-content form input[type=checkbox] {
    width: auto;
    
}

a:link, a:visited {
    color: blue;
    padding: auto;
    align-items: left;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color:red;
}
.error {
    padding-left:5%;
    padding-right:5%;
    margin-bottom: auto;
    text-align: center;
    color:red
}

form >p {
    font-weight: bold;
}

#image-post-image {
    height: 300px;
    width: 470px;
    padding: 20px;
}

.info-tags {
    margin: 10px;
}