* {
    box-sizing: border-box;
    padding:5px;
}

.shadow {
    border:1px solid #cccccc;
    box-shadow: 0 10px 10px lightblue;
}

.grid-container {
    grid-area: main;
    background-color:rgba(107,185,240,0.6);
    min-width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    align-self: center;
}
.site-header {
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color:black;
}
.site-content{
    padding-left:10%;
    padding-right:10%;
    margin-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.site-content form label {
    float: left;
    font-weight: bold;
    color:black;
    display: block;
}

.empty-space {
    grid-area: space;
}

input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
}

input[type=submit] {
    width: auto;
}
input[type=checkbox] {
    width: auto;
}

a:link, a:visited {
    color: blue;
    padding: auto;
    align-items: left;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color:red;
}
.error {
    padding-left:5%;
    padding-right:5%;
    margin-bottom: auto;
    text-align: center;
    color:red
}

